MOCK_FUEL_PORT=COM6
MOCK_FUEL_ADDRESS=1
MOCK_FUEL_BAUD=4800
MOCK_FUEL_DATABITS=7
MOCK_FUEL_STOPBITS=2
MOCK_FUEL_PARITY=even

MOCK_FUEL_SCENARIO=normal
MOCK_FUEL_STEP_LITERS=0.25
MOCK_FUEL_DEFAULT_PRICE_MINOR=5500