MOCK_KKT_HOST=127.0.0.1
MOCK_KKT_PORT=7778

# success / shift_closed / shift_expired / operation_error / close_error
MOCK_KKT_SCENARIO=success

# open / closed / expired (оверрайдится сценарием shift_*)
MOCK_KKT_SHIFT_STATE=open

MOCK_KKT_SHIFT_NUMBER=1
MOCK_KKT_RECEIPT_NUMBER=1

MOCK_KKT_DUMP_HEX=false